.content-list{
    overflow: hidden;
    width: 95%;
    height: auto;
    margin: 0 auto;

    .img-novaleur{
        max-width: 20rem !important;
        max-height: 20rem !important;

        @include response(tab-port)
         { 
             max-width: 100% !important;
            height: 20rem;
         }
         @include response(tab-land)
         {
            max-width: 100% !important;
            height: 20rem;
         }
         @include response(phone)
         {
            max-width: 100% !important;
           height: 20rem;
         }
    }
    .icon{
        height: 3rem !important;
        margin-top: 1rem !important;
    }
    .item-title{
        margin-bottom: 0 ;

    }

}

