$color-gray:#646769;
$color-gray-title-big:#333434;
$color-yellow:#edb720;
$color-black:#000;
$color-white:#fff;
$color-bleu:#4384bf;
$color-bleu-light:#f2f2f3;
$color-gray-light:#5555;




$font-familly:'Cairo', sans-serif;


$margin-small-top: 1rem;
$margin-small-bottom: 1rem;


$margin-big-top: 2rem;
$margin-big-bottom: 2rem;

/*width device*/
// max-width :

$width-desctop:1180px;