header{
    .listlanguge{
        margin-top: 20px;
        ul{
            display: flex;
            justify-content: flex-end;
            padding-bottom: 10px;
            li{
                list-style: none;
                display: inline;
                margin-right: 10px;
                a {
                    img{
                        height: 30px;
                        width: 30px;
                    }
                }
            } 
                
        }
    }

    // Nav Bar


    .img-logo{
        height: 50px;
    }
}

.navbar-nav{

  

    .nav-item{
           @include small-text;
           font-weight: 700;
           margin : {
            // right: 10px;
           }
           position: relative;


        //    &:hover{
        //        color:$color-yellow !important;
        //    }
           &:not(:last-child)::after {
            content: '';
            height: 32%;
            width: 1px;
            position: absolute;
            right: 0;
            top: 15px;
            background-color: #000000;
        }
        // &:hover::after {
        //     width: 100%;
        //     transition: width .3s;
        // }

    }

   .nav-link{
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    }


}
